*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.banner{
height: 300vh;
width: 100%;
background-image:  linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(anıtkabir.jpg);
background-position:center;
background-size:cover;
background-attachment: fixed;
}
.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    border-radius: 50%;
}
.navbar ul li{
    list-style-type:none;
    display: inline-block;
    margin: 0 25px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
}
.about_me{
    color:#fff;
    border-radius: 20%;
    border-style:solid ;
    margin: 50px 25px;
    padding: 32px 25px;
    border-color: #fff;
}
.about_me h1{
    color: aqua;
    margin: auto;
    text-align: center;
}
.hobby{
    border-radius: 20%;
    border-bottom: 40px;
    border-style:solid ;
    margin: 50px 25px;
    padding: 32px 25px;
    border-color: #fff;
}
.hobby h1{
    color:aqua;
    margin: auto;
    text-align: center;
}
.games{
    color:#fff;
    margin: 50px 25px;
    padding: 32px 25px;
    text-align: center; 
}
.ping-pong{
    color:#fff;
    margin: 50px 25px;
    padding: 32px 25px;
    text-align: center; 
}
.ping-pong img{
    width: 700px;
}
.ping-pong a{
    color: red;
    
}



