@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css";

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(ankara.jpg);
    background-size: cover;    
}
.back {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%);
    color: white;
}
.login-box h1{
    float: left;
    font-size:  40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
}
.login-box i{
    color: #fff;
}
.text-box{
    width:  100%;
    overflow: hidden;
    font-size: 20px;
    padding:  8px 0;
    margin:  8px 0;
    border-bottom: 1px solid #4caf50;
}
.text-box i
{
    
    width: 26px;
    float: left;
    text-align: center;
}
.text-box input{
    border: none;
    outline: none;
    background: none;
    color: white;
    filter: brightness(150%);
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;    
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding:  5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
