*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.banner{
height: 150vh;
width: 100%;
background-image:  linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(anıtkabir.jpg);
background-position: center;
background-size: cover;
}
.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    border-radius: 50%;
}
.navbar ul li{
    list-style-type:none;
    display: inline-block;
    margin: 0 25px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
}
.header{
    color:rgb(3, 28, 250);
    margin: auto;
    text-align: center;
}
.tarihçe{
    color: #fff;
    margin: 25px 25px;
}
.tarihçe h2{
    color: aquamarine;
}
.başarılar{
    color: #fff;
    margin: 25px 25px;
}
.başarılar h2{
    color: aquamarine;
    
}
.başarılar img{
    position: absolute;

      left: 900px;
      height: 800px;
      width:600px;
      top: 400px;
}
.kadro{
    
    color: #fff;
    margin: 25px 25px;
}
.kadro h2{
    color: aquamarine;
}
